<h1>Note App</h1>
<div class="wrapper">
    {{#with filter}}
        <div>
            <a href="/notes">Create new note</a>
            <a class="right" href={{#compare style '==' "black"}}"/?style=white"{{else}}"/?style=black"{{/compare}}">Style switcher</a>
        </div>
        <div>
        <a href={{#compare sorter '==' "cdate"}}"/?order=rcdate"{{else}}"/?order=cdate"{{/compare}}{{#compare activElement '==' 2}}class="active"{{/compare}}>By creating date</a>
            <a href={{#compare sorter '==' "fdate"}}"/?order=rfdate"{{else}}"/?order=fdate"{{/compare}}{{#compare activElement '==' 1}}class="active"{{/compare}}>By deadline</a>
            <a href={{#compare sorter '==' "importance"}}"/?order=rimportance"{{else}}"/?order=importance"{{/compare}}{{#compare activElement '==' 3}}class="active"{{/compare}}>By importance</a>
            {{#compare show '==' "true"}}
                <a class="right" href="/?filter=false">Show finished</a>
            {{else}}
                <a class="right" href="/?filter=true">Hide finished</a>
            {{/compare}}
        </div>
    {{/with}}
    {{#if notes}}
    {{#each notes}}
        <div class="noteview">
            <div class="inner-wrapper">
                <p>{{due}}</p>
                <p>{{title}}</p>
                {{#if prio}}<img src="/media/prio{{prio}}.png">{{/if}}
            </div>
            <div class="inner-wrapper">
                <form method="post" action="/notes/{{_id}}/update/">
                <label for="state">
                    <input type="checkbox" name="state" id="state" onchange="this.form.submit()" {{#if finish}}checked{{/if}}>
                    Finished
                </label>
                </form>
                <textarea readonly>{{desc}}</textarea>
                <a href="/notes/{{_id}}">Edit</a>
            </div>
        </div>
    {{/each}}
    {{else}}
        <div class="empty">
            <h2>No notes to display</h2>
            <img src="/media/empty-heart.jpg">
        </div>
    {{/if}}
</div>