<div class="wrapper">
    {{#with filter}}
        <div>
            <a href="/notes">Create new note</a>
            <a class="right" href={{#compare style '==' "black"}}"/?style=white"{{else}}"/?style=black"{{/compare}}">Style switcher</a>
        </div>
        <div>
            <a href="/?order=cdate">By creating date</a>
            <a href="/?order=fdate">By deadline</a>
            <a href="/?order=importance">By importance</a>
            <a class="right" href={{#compare show '==' "true"}}"/?filter=false"{{else}}"/?filter=true"{{/compare}}">Hide finished</a>
        </div>
    {{/with}}
    {{#each notes}}
        <div class="noteview">
            <div class="inner-wrapper">
                <p>{{due}}</p>
                <p>{{title}}</p>
                {{#if prio}}<img src="/media/prio{{prio}}.png">{{/if}}
            </div>
            <div class="inner-wrapper">
                <form method="post" action="/notes/{{_id}}/update/">
                <label for="state">
                    <input type="checkbox" name="state" id="state" onchange="this.form.submit()" {{#if finish}}checked{{/if}}>
                    Finished
                </label>
                </form>
                <textarea readonly>{{desc}}</textarea>
                <a href="/notes/"{{id}}>Edit</a>
            </div>
        </div>
    {{/each}}
</div>